{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Robotics Club - IIITD</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="{% static "design/base.css" %}">
<link rel="stylesheet" href="{% static "design/layout.css" %}">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<link rel="shortcut icon" href="{% static "design/logo.png" %}">
<!--<script>
    function draw() {
    var width = $(document).width();
    var height = $(document).height();

    $("section").width(width).height(height);
}

$(document).resize(draw);
$(draw);
    </script>-->
     <style>
      body {
         margin:0;
         padding:0;
      }
      #resize_wrapper {
      }
   </style>
   <script src="{% static "design/jquery-latest.min.js" %}" ></script><style type="text/css"></style>
   <script>
      function reSize(id) {
         // @obj - get the element with the given ID
         // @w - the current width of the viewer window
         // @h - the current height of the viewer window
         var obj=$('#'+id),w=$(window).width(),h=$(window).height();
         obj.css({
            width:w,
            height:h
         });
      }
      $(function(){
         // @obj_id - set the ID of the element you want to resize
         var obj_id='resize_wrapper';
         // Call the function on page load
         reSize(obj_id);
         // Then create an event handler that calls the function whenever the user resizes the browser
         $(window).resize(function(){
            reSize(obj_id);
         });
      });
   </script>
</head>
<body data-spy="scroll" data-target="#nav-wrap">
    <div id="resize_wrapper" style="width: 1349px; height: 624px;">
<header class="mobile">
  <div class="row">
    <div class="col full">
      <nav id="nav-wrap"> <a class="mobile-btn" href="#" title="Show navigation">Show navigation</a> 
      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
        <ul id="nav" class="nav">
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/forum">Forum</a></li>
          <li><a href="/events">Upcoming Events</a></li>
          <li><a href="http://iiitd.ac.in" target="_blank">IIITD</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<section id="intro">
  <div id="intro-slider" class="flexslider">
    <ul class="slides">
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <div class="row">
          <div class="col full">
            <div class="slider-text">
              <h2>The Robotics Club at <span>IIIT Delhi</span>  provides students with a chance to design robots and learn about robotics.</h2>

            </div>
          </div>
        </div>
        <div class = 'row' style = 'text-align:center;'>
<form method = 'link' action = "{% url 'socialauth_begin' 'google-oauth2' %}">
  <button type = 'submit' > members sign in</button>
</form>         </div>
      </li>
      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
        <div class="row">
          <div class="col full">
            <div class="slider-text">
              <h2>Take a look at some of our projects or get in touch to discuss how you can get started.</h2>
            </div>
          </div>
        </div>
        <div class = 'row' style = 'text-align:center;'>
<form method = 'link' action = "{% url 'socialauth_begin' 'google-oauth2' %}">
  <button type = 'submit' > members sign in </button>
</form> 
        </div>        
      </li>
        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
        <div class="row">
          <div class="col full">
            <div class="slider-text">
              <h2>Here you can learn the concepts of Robotics. No prior experience required, <span>Enthusiasm</span> is all we need.</h2>

            </div>
          </div>
        </div>
        <div class = 'row' style = 'text-align:center;'>
<form method = 'link' action = "{% url 'socialauth_begin' 'google-oauth2' %}">
  <button type = 'submit' > members sign in </button>
</form>         </div>        
      </li>
    </ul>
  <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
</section>
 
 <footer>
  <div class="row">
    <div class="col g-7">
      <ul class="copyright">
        <li>Developed by <a href="facebook.com/bvarun08"><b>Varun Bansal</a></b> and <a href="http://www.github.com/kush789"><b>Kushagra Singh</b></a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="{% static "design/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "design/jquery-migrate-1.2.1.min.js" %}"></script>
<script src="{% static "design/smoothscrolling.js" %}"></script>
<script src="{% static "design/scrollspy.js" %}"></script>
<script src="{% static "design/jquery.flexslider.js" %}"></script>
<script src="{% static "design/jquery.reveal.js" %}"></script>
<script src="{% static "design/init.js" %}"></script>
</div>

</body></html>